#back{
    background: rgb(237, 234, 234);
    width:800px;
    height: 630px;
    margin: 1% auto 0;
    position: relative;
    padding: 50px;
    border-radius: 25px;
	}
.title {
  text-align: center;
}

.title span {
  color: #464748;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: #0088ba;
}
.tab{
	margin-top: 80px;
}
table {
	background: url("background.jpg");
	background-size: contain;
	width: auto;
	height: auto;
	border: 3px solid rgb(100, 100, 100);
	border-spacing: 0px;
	padding: 0;
	margin: 0;
	border-radius: 10px;
}
td {
	width: 50px;
	height: 50px;
	border: 2px solid rgb(100, 100, 100);
	border-spacing: 0px;
	padding: 0;
	margin: 0;
	border-radius: 3px;
}
.markX {
	background: url("x.png");
	background-size: contain;
}
.markO {
	background: url("o.png");
	background-size: contain;
}

#restartButton {
	background-color: #343a3d; 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 5px;
	width: 70px;
	height: 25px;
}

select{
	border-radius: 5px;
	background-color: #343a3d;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	width: 90px;
	height: 30px;
}